<p id="notice"><%= notice %></p>

<h1>Trails</h1>

<table>
  <thead>
    <tr>
      <th colspan="3">Trail name</th>
      <th colspan="3">Trail configuration</th>
      <th colspan="3">Patients</th>
      <th colspan="3">Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trails.each do |trail| %>
      <tr>
        <td colspan="3"><%= trail.name %></td>
        <td colspan="3"><%= trail.trail_configuration.name %></td>
        <td colspan="3"><%= trail.patient.name %></td>
        <td colspan="3"><%= trail.active %></td>
        <td><%= link_to 'Show', trail %></td>
        <td><%= link_to 'Edit', edit_trail_path(trail) %></td>
        <td><%= link_to 'Destroy', trail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trail', new_trail_path %>
